.sobre-mi {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
    padding: 45px;
    letter-spacing: 1.5px;
}

p {
    text-align: justify;
}

button {
    width: 150px;
}